@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/* RESET CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
div,
header,
nav,
main,
footer,
section,
article,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

h1 {
  font-size: 70px;
  line-height: 1.2em;
  text-align: center;
  font-weight: 900;
}

p {
  font-size: 18px;
  line-height: 1.2em;
}

/* 공통 */

body {
  font-size: 1rem;
  font-family: "Roboto", serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: var(--main-color);
  width: 100vw;
  height: 100vh;
}

/* ROOT */

:root {
  --main-color: #021d44;
  --accent-color: #ff3e55;
  --white-color: #f7f6f5;
}

/* 공통 fixed 작업 */

#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero_bg_box {
  width: 40%;
  height: 100vh;
  background-color: var(--white-color);
  opacity: 0.03;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}
.main_nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  width: 8.6vw;
  border-left: 1px solid var(--white-color);
}

.nav_conts {
  position: absolute;
  color: var(--white-color);
  text-align: center;
  font-weight: 900;
  font-size: 24px;
}

.nav_work {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav_about {
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home_link {
  position: fixed;
  top: 4vw;
  left: 4vw;
}
.home_link a {
  color: var(--white-color);
}

.home_link a:hover {
  color: var(--white-color);
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .main_nav {
    border: none;
    padding-top: 4vw;
    padding-right: 4vw;

    box-sizing: content-box;
  }
  .nav_conts {
    margin-top: 5px;
    font-size: 18px;
    position: relative;
  }
  .home_link {
    font-size: 11.7px;
  }
}
